{#
/**
 * @file imagecollab-image.html.twig
 * Default theme implementation to present imagecollab image entity data.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - image:
 * - back:
 * - next:
 * - place:
 * - total:
 * - artist:
 * - created:
 *
 * @see template_preprocess_imagecollab_image()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('imagecollab-image') }}>
  {{- image -}}
  <div class="imagecollab-meta">
    {{- back -}}
    {{ place }} of {{ total }} by {{ artist }} on {{ created }}
    {{- next -}}
  </div>
</div>
