{#
/**
 * @file imagecollab-chain.html.twig
 * Default theme implementation to present imagecollab chain entity data.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - images:
 * - add_link:
 * - image_count:
 * - artist_count:
 * - artist_first:
 * - artist_last:
 * - created:
 * - changed:
 *
 * @see template_preprocess_imagecollab_chain()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('imagecollab-chain') }}>
  {{- images -}}
  <div class="imagecollab-meta">
    {{ image_count }} image{% if image_count > 1 %}s{% endif %}
    by {{ artist_count }} artist{% if artist_count > 1 %}s{% endif %}
    originated {{ created }} by {{ artist_first }}
    {% if image_count > 1 %}
      last changed {{ changed }} by {{ artist_last }}
    {% endif %}
    {% if add_link %}
      {{- add_link -}}
    {% endif %}
  </div>
</div>
